*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

                                        /* Este es el header */
.header {
    width: 100%;
    height: 250px;
    background-color:  rgb(238, 239, 243);
    margin: auto;
}

.header-contenedor {
    max-width: 960px;
    margin: auto;
}

.header-img {
    text-align: center;
}

                        /* Esta parte es sobre el contenido de la página como tal */
body{
    background: rgb(238, 239, 243);
}


                    /* Este wrap abarca todo el cuerpo de la página hasta el footer */
.wrap{
    width: 960px;
    margin: auto;
    clear: both;
}

                                        /*Esta parte es del menú */
.menu {
    margin: auto;
    width: 100%;
    width: 960px;
    margin-top: -4px;
}

.menu-contenedor{
   float: left;
}

.nav{
    position: absolute;
    z-index: 100;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color:  #762933;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    width: 240px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

.nav li a:hover {
    background-color: #5c1c24;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display: block;
}

.contenedor-principal{
    width: 600px;
    margin: 50px 0px 0px 0px;
    float: left;
}

/*Esta es la parte de botones*/ 

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 13px;
    border: 1px solid #7e1f1f;
    border-radius: 0px;
    background: #b86464;
    background: -webkit-gradient(linear, left top, left bottom, from(#b86464), to(#7e1f1f));
    background: -moz-linear-gradient(top, #b86464, #7e1f1f);
    background: linear-gradient(to bottom, #b86464, #7e1f1f);
    -webkit-box-shadow: #ff4747 0px 0px 40px 0px;
    -moz-box-shadow: #ff4747 0px 0px 40px 0px;
    box-shadow: #ff4747 0px 0px 40px 0px;
    text-shadow: #4a1313 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #942525;
    background: #dd7878;
    background: -webkit-gradient(linear, left top, left bottom, from(#dd7878), to(#972525));
    background: -moz-linear-gradient(top, #dd7878, #972525);
    background: linear-gradient(to bottom, #dd7878, #972525);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #6e3c3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#6e3c3c), to(#7e1f1f));
    background: -moz-linear-gradient(top, #6e3c3c, #7e1f1f);
    background: linear-gradient(to bottom, #6e3c3c, #7e1f1f);
}




/*Esta es la parte de nosotros*/ 
.img-menu{
    position: relative;
    top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.img-historia{
    position: relative;
    top: 30px;
    margin-bottom: 50px;
    text-align: center;
 }   
.img-mv{
    position: relative;
    top: 11px;
    margin-bottom: 50px;
    text-align: center;
}
.img-mapa{
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}       


/* Esta es la parte del footer*/

footer{
    width: 100%;
    background:#5c1c24;
    color: white;
    text-decoration: none;
    clear: both;
}

.container-footer-all{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 350px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
    text-align: justify;
}

.colum2{
    max-width: 1000px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 35px;
    height: 35px;
}

.row label{
    margin-top: 10px;
    margin-left: 15px;
    color: white;
}

.row label a{
    text-decoration: none;
    color: white;
}

.colum3{
   max-width: 280px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #762933;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: white;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
   text-decoration: none;
   color: white;

}